* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	color: #1d164d;
	background-color: #fff;
}
a {
	color: #fff;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
}

.header-banner {
	height: 767px;
	background-image: url('../img/Illustration.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-color: #fff;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	color: #b9db60;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 3px;
}

.nav {
	padding: 30px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}

.list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

li {
	margin-left: 20px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
}

.list-btn {
	border: none;
	padding: 13px 20px;
	border-radius: 8px;
	background: #fff;
	color: #b9db60;
	font-weight: bold;
	font-size: 15px;
}

.form-container {
	width: 100%;
	max-width: 1100px;
	margin: auto;
}

.form-tittle {
	font-size: 50px;
	font-weight: 600;
	display: block;
	width: 350px;
}

.form {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.search-input {
	padding: 15px;
	font-size: 14px;
	width: 320px;
	border: 1px solid #000;
	border-radius: 5px;
}

.btn-search {
	font-size: 15px;
	border: none;
	padding: 15px;
	margin-left: 15px;
	background-color: #b9db60;
	border-radius: 4px;
}

.fas {
	color: #fff;
}

.best-recipes {
	background-color: #fafafc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
}

.recipe-tittle {
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 40px;
}

.recipe-paragraph {
	width: 490px;
	text-align: center;
	color: #bcbac7;
	margin-bottom: 30px;
}

.recipes-container {
	width: 100%;
	max-width: 1100px;
	height: 500px;
	display: grid;
	justify-content: center;
	gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.recipes {
	background-color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	box-shadow: 1px 10px 10px #ddd;
}

.column {
	width: 50%;
}

.img {
	border-radius: 10px 0 0 10px;
}

.desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	padding-right: 40px;
	font-size: 24px;
	font-weight: 700;
}

.recipe-btn {
	background-color: #b9db60;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	font-weight: 100;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	width: 60%;
}

.know-more-banner {
	height: 700px;
	background-image: url('../img/bloco_services.svg');
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.know-more-desc {
	width: 400px;
	margin-right: 210px;
}

.know-more-title {
	font-size: 34px;
	font-weight: 600;
	margin-bottom: 15px;
}

.know-more-paragraph {
	padding: 15px 0;
	color: #bcbac8;
}

.know-more-btn {
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #b9db60;
	font-size: 16px;
	padding: 20px;
	margin-top: 15px;
}

.read-our-blog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: #fafafc;
	text-align: center;

	margin-bottom: 30px;
}

.blog-title {
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 40px;
}

.blog-paragraph {
	margin: auto;
	text-align: center;
	width: 490px;
	color: #bcbac8;
}

.grid-container {
	background: #fff;
	font-family: 'Rubik', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr auto;

	grid-template-areas: 'main main main';
	@media screen and (max-width: 500px) {
		grid-template-columns: 1fr;
		grid-template-rows: 0.3fr 1fr auto 1fr;
		grid-template-areas: 'main';
	}
}
.main {
	grid-area: main;
	padding: 0px;
	overflow-x: hidden;
}

.items {
	position: relative;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	transition: all 0.2s;
	transform: scale(0.98);
	will-change: transform;
	user-select: none;
	cursor: pointer;
}

.items.active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
	transform: scale(1);
}

.item {
	display: inline-block;
	background: #fff;
	max-width: 100%;
	max-height: 100%;
	min-height: 250px;
	min-width: 400px;
	margin: 10px 10px;
	@media screen and (max-width: 500px) {
		min-height: 200px;
		min-width: 200px;
	}
}

.items-tittle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 3;
}

.items-author {
	font-size: 16px;
	color: #bcbac8;
	font-weight: 500;
}

.item-img {
	height: 100%;
	width: 100%;
}

.join-banner {
	background-image: url('../img/bloco_final_image.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.join-form-title {
	font-size: 36px;
	font-weight: 600;
	display: block;
	width: 380px;
}

.join-btn {
	color: #fff;
	padding: 10px 30px;
	box-shadow: 2px 5px 6px #ddd;
}

.footer-container {
	display: flex;
	justify-content: center;
	padding: 40px;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}

.copy {
	color: #1d164d;
}

.terms {
	color: #bcbac8;
}

button,
a {
	cursor: pointer;
}

button:hover {
	background-color: #53a547;
	color: #fff;
}
